<div id="request-error" class="navbar navbar fixed-top">
    <div class="container">
        <div class="alert" style="display:none">
            <button class="close" type="button">&times;</button>
            <span class="msg"></span>
        </div>
    </div>
</div>
<div class="navbar navbar-header navbar-expand-lg fixed-top bg-dark">
    <div class="container">
        
        <h2 style="color: rgb(224, 220, 216);"><img src="static/img/logo-udsm.png" height="80"/>CoICT REMOTE NOTICE BOARD
        </h2>
        <ul class="nav float-right">
            <li>
                <a href="/">
                    <i class="far fa-clock pr-1"></i>
                    Schedule Overview
                </a>
            </li>
            
            <li>
                <a href="/settings">
                    <i class="fas fa-cogs pr-1"></i>
                    Settings
                </a>
            </li>
            <li class="divider-vertical"></li>
            
        </ul>
    </div>
</div>
